.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 15px;
  width: 18rem;
  height: 22rem;
  box-shadow: rgba(0, 0, 0, 0.35) 4px 5px 15px;
  cursor: pointer;
}
.category:hover {
  box-shadow: #25456f 0px 7px 30px 0px;
}
.category-image {
  cursor: pointer;
  margin-top: 1rem;
  width: 16rem;
  height: 16rem;
  border-radius: 5px;
}
.category-name {
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  margin-top: 1.5rem;
  color: #1e3c64;
}
.categoryOldPrice {
  cursor: pointer;
  text-decoration: line-through;
  margin-top: 12px;
  margin-bottom: -15px;
  font-weight: 400;
  font-size: 16px;
  margin-right: 105px;
  color: rgb(175, 39, 39);
}
.category-price {
  cursor: pointer;
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 24px;
  margin-right: 70px;
  color: #1e3c64;
}
.categoryMargin {
  cursor: pointer;
  margin-top: 20px;
}
