.modal-overlay {
    position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/*Container */
.modal-content {
    overflow-y: auto;
    position: relative;
    background: #fff;
    padding: 20px;
    margin-right: 10px;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

.modal-content h2 {
    border-bottom: solid 1px #ccc;
}


/*Forms Inputs */
.form-add-category input {
    width: 100%;
    padding: 10px;
    border: solid 1px #ccc;
    border-bottom: solid 1px #1e3194;
    border-radius: 4px;
    outline: none;
}


/* Classes para estados de transição */
.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal-content.show {
    transform: translateX(0);
}

.modal-content h2 {
    margin-bottom: 20px;
}

/*Form Seçao 1 */
.modal-content .form-seçao-1 {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.modal-content .form-seçao-1 .form-add-img i {
    font-size: 5rem;
}

/* seçao 2 */
.modal-content .form-seçao-2 {
    display: flex;
    flex-direction: column;
}

.modal-content .form-seçao-2 .form-dropdow-prefix {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 10px 0;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 1rem;
}

.modal-content .form-seçao-2 .form-dropdow-prefix .form-inputs {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.modal-content .form-seçao-2 .form-dropdow-prefix .form-inputs .Form-check-input {
    appearance: none;
    width: 10px;
    height: 10px;
    transform: scale(1.2);
    border: solid 1px #1e3194;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content .form-seçao-2 .form-dropdow-prefix .form-inputs .Form-check-input:checked {
    background: #00ff26;
}

.modal-content .form-seçao-2 .form-dropdow-prefix .form-price {
    width: 100%;
}



/*Form Descriçao */
.modal-content .form-descrition textarea {
    width: 100%;
    min-height: 20px;
    padding: 10px;
    border: solid 1px #ccc;
    border-bottom: solid 1px #1e3194;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    resize: vertical;
}

/* Buttons salvar e cancelar*/
.modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.modal-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-buttons button[type="submit"] {
    background: #28a745;
    color: #fff;
}

.modal-buttons button[type="button"] {
    background: #dc3545;
    color: #fff;
}