/*Container*/
.Menu-lateral {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    overflow-Y: scroll;
    background: #3749A6;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    border-radius: 0 16px 16px 0;
}

.Menu-lateral::-webkit-scrollbar {
    display: none;
}

/*Logo */
.Menu-lateral img {
    width: 4rem;
    margin-left: 3rem;   
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    filter: drop-shadow(5px 5px 0.75rem #ffffff88);
}

.Menu-lateral img:hover {
    transform: scale(1.1);
}

/* Menu Icones e listas */
.Menu-lateral ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
}

.Menu-lateral ul li {
    width: 100%;
    margin: .4rem .5rem;
    font-size: .8rem;
    list-style: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.Menu-lateral ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.Menu-lateral ul li a:hover {
    background: #fff;
    color: #3749A6;
    border-radius: 0 16px 16px 0;
}

.icon-text {
    width: 100%;
    font-size: .7rem;
    padding: 1rem;
    letter-spacing: 2px;
}

hr {
    width: 100%;
    border: 1px solid #ffffff50;
}