.filter-container {
  width: 100px;
  height: auto;
}
.product-list-page-body {
  display: flex;
  flex-direction: column;
}
.products-header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-filter {
  border-radius: 8px;
  border: 1px solid #1e3c64;
  width: 300px;
  height: 40px;
}
.order-filter-container {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
}
.order-filter-label {
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .order-filter {
    margin-right: 100px;
    max-width: 200px;
    height: 30px;
  }

  .products-header {
    flex-direction: column;
  }
}
