:root {
  scroll-behavior: smooth;
}
.full-register-container {
  display: flex;
  flex-direction: column;
}
.register-image {
  width: 16rem;
  height: 18rem;
}

.signIn-input {
  background-color: rgb(224, 224, 224);
  border: 1px solid #1e3c64;
}
@media (min-width: 400px) {
  .register-image {
    margin-left: 50px;
    margin-right: 60px;
  }
}
