.myItems-container{
    margin: 0;
}
.box-top{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    
    height: 70px;
}

.h1-top{
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
    font-size: 25px;
    font-weight: bolder;
}

.top{
    display: flex;
    flex-direction: row;
    width: 70%;
    
}

.input-top{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 45px;
    border-radius: 10px;
    background-color: #e3dddd;
}

.select-top{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
}

.select-calendary {
    width: 270px;
    margin-right: 20px;
}

.select-filter{
    width: 270px;    
}