.myItems-Content{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    width: 94%;
    height: 300px;
    margin-top: 20px;
    background-color: #1e3c64;
    border: 4px solid #061f3e;
    padding-top: 10px;
    border-radius: 10px;
}

.Content {
    width: 100%;
}
.Content-top{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Content-top-info {
    width: 100%;
}

.item-order{
    color: black;
    width: 800px;
    font-size: 23px;
    margin-left: 35px;
}

.btn-top {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 800px;
    height: 40px;
}
.btn-help-order{
    margin-right: 10px;
    width: 250px;
    background-color: white;
    font-weight: bolder;
}

.btn-details{
    width: 250px;
    color: white;
    font-weight: bold;
}

.info-item{
    margin: 0;
    border-top:  1px  solid #061f3e;
    border-bottom: 1px  solid  #061f3e ;
    height: 40px;
}

.status-item{
    margin-bottom: 0;
    height: 35px;
    width: 100%;
    margin-left: 35px;
    font-size: 18px;
    color: rgb(101, 165, 4);
    text-shadow: 2px 7px 10px rgb(1, 41, 3);
}
.info-payment{
    margin-top: 3px;
    border-top:  1px  solid #061f3e;
    border-bottom: 1px  solid  #061f3e ;
}
.payment{
    margin-bottom: 0;
    height: 35px;
    width: 100%;
    margin-left: 35px;
    font-size: 18px;
    font-weight: bolder;
    color: black;
    text-shadow: 2px 7px 10px rgb(1, 41, 3);
}


.form-content{
    display: flex;
    flex-direction: row;
    width: 200%;
}


.img-content{
    width: 120px;
}

.h1-form{
    margin-top: 16px;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 2px 7px 10px rgb(1, 41, 3);
}
.form-qtnd {
    margin-top: 5px;
    font-weight: 600;
}